{% extends "mainLayout.html.twig" %}


{% block body %}
    <div class="postListBody">

        {% include 'main/common/individualPost.html.twig' %}


    </div>

    <div class="commentBox">

        {% if post.comments.count > 0 %}
            <div class="comentariosHeader">Comentarios</div>
                {% include 'main/common/commentList.html.twig'   with {'Comments': post.comments} %}
        {% endif %}

        {% if app.user.roles is defined and "ROLE_USER" in app.user.roles %}
            <div class="comentariosHeader">Post your comment</div>
            <div class="commentPost">
                <div class="commentPostWarning">
                    <h3>Try to be respectful and educated.</h3>
                    <p>You can be expelled if you don't follow all the rules. </p>

                    <p>You are logged as {{app.user.username}} - <a href="{{ path('app_logout') }}">Desconectar</a></p>
                </div>
                <form method="POST" action="/post/{{ post.id }}/sendComment">
                    <textarea name="commentContent" class="newCommentTextarea"></textarea>
                    <input type="submit" value="Send comment" class="btn btn-primary btn-lg"/>
                </form>
            </div>
        {% endif %}

    </div>
{% endblock %}