{% form_theme postCreation 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Publish{% endblock %}

{% block body %}

    <div id="LoginForm">
    <div class="card">
        <h5 class="card-header">Create user</h5>
        <div class="card-body">
<div class="container">

    {{ form_start(postCreation) }}

    {{ form_widget(postCreation) }}

    <input type="submit" value="Submit" class="btn btn-primary btn-block">

    {{ form_end(postCreation) }}
</div>
</div>
</div>
    </div>
{% endblock %}