<div class="sidebar">

<ul class="list-group">
    <a href="{{ path('listAllApiMethods') }}"><li class="list-group-item list-group-item-action">List Rest api methods</li></a>
    <a href="{{ path('listAllUsers') }}"><li class="list-group-item list-group-item-action">List all users</li></a>
    <a href="{{ path('listAllPosts') }}"><li class="list-group-item list-group-item-action">List all posts</li></a>
    <a href="{{ path('listAllComments') }}"><li class="list-group-item list-group-item-action">List all comments</li></a>

</ul>

</div>