<div class="">

    <div class="card bg-light mb-3">
        <div class="card-header">Messages</div>
            <div class="card-text">
                <ul class="list-group">
                    <li class="list-group-item">Incoming messages</li>
                    <li class="list-group-item">Sent</li>
                    <li class="list-group-item">Send message</li>
                </ul>
            </div>
    </div>
    <div class="card bg-light mb-3">
        <div class="card-header">¿What's this?</div>
        <div class="card-body">
            <p class="card-text">This is the zone where you can control all about your profile, from private messages, to the people you follow...</p>
        </div>
    </div>
</div>


