<div class="">
    <!--
    <div class="sidebarCategoryHeader">
    <h3>Categories</h3>
    </div>
    -->
    <div class="menuCategories">
<ul class="list-group">
    {% for category in UtilsCommonVars.Categories %}
        <div class="categoryNameMenu float-left">
        <a href={{ path('postsOfCategory', {category: category.name()}) }}><li class=""> {{  category.name }}</li></a>
        </div>
    {% endfor %}



</ul>
    </div>
    <div>

        {% if UtilsCommonVars.BestPostLastHour is defined and UtilsCommonVars.BestPostLastHour is not empty %}
            {% include 'main/common/minifiedPost.html.twig' with {post: UtilsCommonVars.BestPostLastHour, title: 'More liked of the last hour'} %}
        {% endif %}
    </div>




</div>

<div class="input-group rounded">
    <form action="{{ path('search') }}"method="POST">
        <input type="search" class="form-control rounded" placeholder="Search" name="search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
    </form>
  </span>
</div>